body {
    margin: 0px;
    padding: 0px;
    background-color: #121111;
    color: ivory;
}

.header {
    height: 75px;
    width: 100%;
    background-color: #222121;
}

.classes {
    padding-top: 22px;
    text-align: center;
}

.class-link {
    border: 1px solid #121111;
    padding: 15px;
    color: goldenrod;
    font-size: 24px;
}