<div class="header">
    <a class="home-link" routerLink="/home" routerLinkActive="active">Home</a>
    <div class="classes">
        <a class="class-link" [routerLink]="['/planner', 'Amazon']" routerLinkActive="active">Amazon</a>
        <a class="class-link" [routerLink]="['/planner', 'Assassin']" routerLinkActive="active">Assassin</a>
        <a class="class-link" [routerLink]="['/planner', 'Necromancer']" routerLinkActive="active">Necromancer</a>
        <a class="class-link" [routerLink]="['/planner', 'Barbarian']" routerLinkActive="active">Barbarian</a>
        <a class="class-link" [routerLink]="['/planner', 'Sorceress']" routerLinkActive="active">Sorceress</a>
        <a class="class-link" [routerLink]="['/planner', 'Druid']" routerLinkActive="active">Druid</a>
        <a class="class-link" [routerLink]="['/planner', 'Paladin']" routerLinkActive="active">Paladin</a>
    </div>
</div>