<div class="trees">
    <div class="tree">
        <div class="tree0">First Title</div>
        <div class="firsttree" id="tree0"></div>

        <div class="tree1">Second Title</div>
        <div class="secondtree" id="tree1"></div>

        <div class="tree2">Third Title</div>
        <div class="thirdtree" id="tree2"></div>
    </div>
    <div class="selectedskill" id="selectedskill" posistion="relative">
        <div class="ssname"></div>
        <div class="ssreqlevel"></div>
        <div class="ssprereq"></div>
        <div class="sssynergies"></div>
        <div class="ssdesc"></div>
    </div>
</div>