.trees {
  text-align: center;
  font-size: 30px;
  grid-area: trees;
}

.tree0 { grid-area: firsttreetitle; }
.tree1 { grid-area: secondtreetitle; }
.tree2 { grid-area: thirdtreetitle; }

.tree0, .tree1, .tree2 {
  margin-top: 15px;
  text-shadow: 2px 1px gray;
}

.selectedskill {
  float: right;
  font-size: 19px;
}

.tree {
  width: 60%;
  display: grid;
  grid-template-areas:
      'firsttreetitle secondtreetitle thirdtreetitle'
      'trees trees trees';
}
.firsttree {
  display: grid;
  grid-template-areas:
      'firsttreetitle firsttreetitle firsttreetitle';
  margin-top: 15px;
  margin-right: 0;
  grid-gap: 4px;
  padding: 5px;
}

.secondtree {
  display: grid;
  grid-template-areas:
      'secondtreetitle secondtreetitle secondtreetitle';
  margin-top: 15px;
  margin-right: 0;
  grid-gap: 4px;
  padding: 5px;
}

.thirdtree {
  display: grid;
  grid-template-areas:
      'thirdtreetitle thirdtreetitle thirdtreetitle';
  margin-top: 15px;
  margin-right: 0;
  grid-gap: 4px;
  padding: 5px;
}