<div class="home">
    <h1>A skill planner for Path of Diablo</h1>
    <br>
    <h2>How to use it:</h2>
    <ul>
        <li>Choose a class above</li><br>
        <li>Click a skill to select it
            <ul>
                <li>This shows you information about that skill on the bottom of the page</li>
                <li>Red border means that skill is selected</li>
                <li>Green border is a prerequisite skill</li>
            </ul><br>
        </li>
        <li>Click the selected skill again to put a point in it</li><br>
        <li>Right-click will remove a point</li><br>
        <li>Prerequisite skills will automatically be skilled</li><br>
        <li>Holding down Ctrl-key will add or remove 20 points to the skill</li><br>
        <li>You can reset everything by clicking the "Reset Skills" button on the bottom-right</li><br>
        <li>The text below the "Reset Skills" button shows you what level your character needs to be.<br>
            This assumes that you have completed all the +skill quests for a total of +12 skills</li><br>
    </ul>
</div>